/RepoTest/nbproject/private/
/teststefan/nbproject/private/
/teststefan/build/
/teststefan/dist/
/Program/nbproject/private/
/Program/build/
/Program 2/nbproject/private/
/Program 2/build/
/Program 3/nbproject/private/
/Program 3/build/
/Program 5/nbproject/private/
/Program 5/build/
/Program 6/nbproject/private/
/GuessTheNumber/nbproject/private/
/GuessTheNumber/build/
/Fråga2/nbproject/private/
/Fråga2/build/